project_root

octave: true

# style guide (https://florianschanda.github.io/miss_hit/style_checker.html)
line_length: 110

# camelCase
regex_script_name: "[a-zA-Z0-9]+(_[a-zA-Z0-9]*)*"

suppress_rule: "naming_parameters"
suppress_rule: "copyright_notice"

tab_width: 4

# metrics limit for the code quality (https://florianschanda.github.io/miss_hit/metrics.html)
metric "cnest": limit 4
metric "file_length": limit 500
metric "cyc": limit 47
metric "parameters": limit 5
